.form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 19px;
}
.form-button {
  color: #FFFFFF;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 150% */

  border-radius: 8px;
  background: #222222;
  text-align: center;
  padding: 13px 41px 13px 41px;


  cursor: pointer;
}

.form-button_wrapper {
  display: flex;
  padding-top: 42px;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}

.modal-background {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(196, 196, 196, 0.7);
}

.modal-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
/*  border: 1px red solid;*/
}

@keyframes Rotate
{from { transform: rotate(0deg) }
 to { transform: rotate(360deg) } /**change to a higher value for more seamless loop*/
}

.icon-wrapper {
  animation: Rotate 1s linear infinite;
/*  border: 1px green solid;*/
}
