.form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.form-button {
  width: 100%;
  color: #FFFFFF;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 150% */

  border-radius: 8px;
  background: #222222;
  text-align: center;
  padding: 13px 0px 13px 0px;

  min-width: 328px;
  cursor: pointer;
}

.form-button_wrapper {
  padding: 12px 0px;
}