.header {
  color: #000000;
  text-align: center;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;

  background: #C3C4C5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9px 16px;
}
