.header {
  color: #000000;
  text-align: center;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;

  background: #C3C4C5;
  display: flex;
  justify-content: space-between;
  align-items: center;
/*  padding: 5px 16px;*/

  padding: 0px 16px;
  height: 60px;
}

.sticky {
  z-index: 1;
  position: sticky;
  top: 0;
/*
  width: 100%;*/
}
/*
.header-sticky {
  z-index: 1;
  color: #000000;
  text-align: center;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;

  background: #C3C4C5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 16px;
  height: 60px;
  position: sticky;
  top: 0;
}
*/