.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  background: #C3C4C5;
  height: 60px;
  padding: 0px 16px;
  position: sticky;
  top: 0;
  z-index: 10;
}

.header_goback {
  align-self: center;
  justify-self: start;
  cursor: pointer;
}

.header_burger-menu {
  align-self: center;
  justify-self: end;
  cursor: pointer;
}


.header_title {
  align-self: center;
  justify-self: center;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;

  color: #000000;
}
