.constructor__apply-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 66px 0px 66px;
}

.constructor__apply-button {
  border-radius: 8px;
  text-align: center;
  cursor: pointer;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #FFFFFF;
  padding: 12px 66px 11px 72px;
  background: #222222;
  border-radius: 8px;
}
