/* Стилизация аккордеона */

/* Убираем стандартный маркер Chrome */
.accordion__details .accordion__summary::-webkit-details-marker {
  display: none
}
/* Убираем стандартный маркер Firefox */
.accordion__details > .accordion__summary {
  list-style: none;
}


.accordion {
  color: #767676;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.accordion__details {
  border-radius: 8px;
  background: #FDFDFD;
/*  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);*/
}

.accordion__details_content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 0px;
}

.accordion__summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #F3F3F3; ;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
}

.accordion__details[open] .accordion__summary_arrow {
  transform: rotate(180deg);
}


.checkbox {
  display: flex;
  gap: 16px;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.checkbox__input {
  position: absolute;
  clip: rect(0, 0, 0, 0);

}

.checkbox__state {
  position: relative;
/*  border: 1px solid red;*/
}

.checkbox__control {
  height: 18px;
  width: 18px;

/*  background: #F3F3F3;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-false {
  position: absolute;
}

.icon-focus {
  display: none;
  position: absolute;

}

.icon-true_shape {
  display: none;
  position: absolute;

}

.icon-true_tick {
  display: none;
  position: absolute;

}

.checkbox__input:focus ~ .checkbox__state .icon-focus {
  display: inline-block;
}

.checkbox__input:focus ~ .checkbox__state .icon-false {
  display: none;
}

.checkbox__input:checked ~ .checkbox__state .icon-true_shape {
  display: inline-block;
}

.checkbox__input:checked ~ .checkbox__state .icon-true_tick {
  display: inline-block;
}


.checkbox__input:checked ~ .checkbox__state .icon-false {
  display: none;
}

.checkbox__input:checked ~ .checkbox__state .icon-focus {
  display: none;
}




/*
.checkbox__icon {
  display: none;
}
.checkbox__title {
}

.checkbox__input:focus ~ .checkbox__control {

}

.checkbox__input:checked ~ .checkbox__state .checkbox__control {

}

.checkbox__input:checked ~ .checkbox__state .checkbox__icon {
  display: inline-block;
}

*/