.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
  border-radius: 24px;

  background: #CFF3FC;
  box-shadow: 6px 3px 20px 0px rgba(255, 239, 152, 0.05);

  padding: 16px 0px 45px 0px;
}

.card-text {
  color: #000000;
  text-align: center;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 120% */ 

  height: 43px;
  width: 155px;
}

.cups {
  background: #CFF3FC;
  box-shadow: 6px 3px 20px 0px rgba(255, 239, 152, 0.05);
}

.paper-packaging {
  background: #EBF7BD;
  box-shadow: 6px 3px 20px 0px rgba(255, 239, 152, 0.05);
}

.lids {
  background: #FCE1CF;
  box-shadow: 6px 3px 20px 0px rgba(255, 239, 152, 0.05);
}

.carton-packaging {
  background: #E2DFF7;
  box-shadow: 6px 3px 20px 0px rgba(255, 239, 152, 0.05);
}

.plastic-box {
  background: #D8F9E5;
  box-shadow: 6px 3px 20px 0px rgba(255, 239, 152, 0.05);
}

.uniform {
  background: #FCEBCD;
  box-shadow: 6px 3px 20px 0px rgba(255, 239, 152, 0.05);
}

.mayonnaise-sauce {
  background: #E7E7E7;
  box-shadow: 6px 3px 20px 0px rgba(255, 239, 152, 0.05);
}

.space-decoration {
  background: rgba(247, 198, 255, 0.56);
  box-shadow: 6px 3px 20px 0px rgba(255, 239, 152, 0.05);
}

.consulting {
  background: #F9FFE0;
  box-shadow: 6px 3px 20px 0px rgba(255, 239, 152, 0.05);
}

.design {
  background: #CFDEFD;
  box-shadow: 6px 3px 20px 0px rgba(255, 239, 152, 0.05);
}
