.preview {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.preview_text-top {
  color: #000;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.preview_text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  color: #000000;
}

.preview__img-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preview__button-container {
  text-align: center;
  padding-top: 24px
}
.preview_button {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  color: #222222;

  background: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 8px;
  padding: 12px 62px;
}


