.cup-types {
  padding: 28px 16px 16px 16px;

/*  background: purple;*/
}

.cup-types__title {
  padding-bottom: 16px;
  border-bottom: 2px solid #C3C4C5;

}

.cup-types__title_text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;

  color: #000000;
}

.cup-types__menu {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
