.cards {
  display: grid;
  grid-template-areas: 

  "cups cups cups paper-packaging paper-packaging paper-packaging  paper-packaging paper-packaging paper-packaging lids lids lids"
  "cards-row-1 cards-row-1 cards-row-1 cards-row-1 cards-row-1 cards-row-1 cards-row-1 cards-row-1 cards-row-1 cards-row-1 cards-row-1 cards-row-1"
  "carton-packaging carton-packaging carton-packaging carton-packaging plastic-box plastic-box plastic-box plastic-box uniform uniform uniform uniform" 
  "cards-row-2 cards-row-2 cards-row-2 cards-row-2 cards-row-2 cards-row-2 cards-row-2 cards-row-2 cards-row-2 cards-row-2 cards-row-2 cards-row-2"
  "mayonnaise-sauce mayonnaise-sauce mayonnaise-sauce space-decoration space-decoration space-decoration consulting consulting consulting design design design"
  "cards-row-3 cards-row-3 cards-row-3 cards-row-3 cards-row-3 cards-row-3 cards-row-3 cards-row-3 cards-row-3 cards-row-3 cards-row-3 cards-row-3";
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, auto);
  gap: 0px 20px;
 
}

.cards-row {
  padding-bottom: 16px;
}

.cards-row-1 {
  grid-area: cards-row-1;
}

.cards-row-2 {
  grid-area: cards-row-2;
}

.cards-row-3 {
  grid-area: cards-row-3;
}

.card {
  border-radius: 24px;
}

/*
cups paper-packaging lids carton-packaging plastic-box uniform 
mayonnaise-sauce space-decoration consulting design
*/

.card-tooltip {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 9px;
  z-index: 10;
}

.card-text {
  align-items: center;
  color: #000000;
  text-align: center;
  font-family: Open Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 109.091% */
  max-width: 274px;
}

.card-shadow {
  /* Тень 3 */
  box-shadow: 6px 3px 20px 0px rgba(255, 239, 152, 0.05), 0px 0px 0px 0px rgba(61, 62, 87, 0.11), 0px 6px 15px 0px rgba(61, 62, 87, 0.11), 0px 10px 47px 0px rgba(61, 62, 87, 0.09), 0px 45px 45px 0px rgba(61, 62, 87, 0.05), 0px 5px 45px 0px rgba(61, 62, 87, 0.02), 0px 296px 30px 0px rgba(61, 62, 87, 0.00);
}

.cups {
  grid-area: cups;
}

.paper-packaging {
  grid-area: paper-packaging;
}

.lids {
  grid-area: lids;
}

.carton-packaging {
  grid-area: carton-packaging;
}

.plastic-box {
  grid-area: plastic-box;
}

.uniform {
  grid-area: uniform;
}

.mayonnaise-sauce {
  grid-area: mayonnaise-sauce;
}

.space-decoration {
  grid-area: space-decoration;
}

.consulting {
  grid-area: consulting;
}

.design {
  grid-area: design;
}

/* colors */

.cups__color {
  background: #CFF3FC;
}

.paper-packaging__color {
  background: #EBF7BD;
}

.lids__color {
  background: #FCE1CF;
}

.carton-packaging__color {
  background: #E2DFF7;
}

.plastic-box__color {
  background: #D8F9E5;
}

.uniform__color {
  background: #FCEBCD;
}

.mayonnaise-sauce__color {
  background: #E7E7E7;
}

.space-decoration__color {
  background: rgba(247, 198, 255, 0.56);
}

.consulting__color {
  background: #F9FFE0;
}

.design__color {
  background: #CFDEFD;
}

/* description */

.cups-description {
  display: none;
}

.paper-packaging-description {
  display: none;
}


.lids-description {
  display: none;
}

.carton-packaging-description {
  display: none;
}

.plastic-box-description {
  display: none;
}

.uniform-description {
  display: none;
}

.mayonnaise-sauce-description {
  display: none;
}

.space-decoration-description {
  display: none;
}

.consulting-description {
  display: none;
}

.design-description {
  display: none;
}
