.color__button-container {
  border: 1px solid transparent;
  border-radius: 8px;
}

.color__button {
  height: 56px;
  width: 56px;
  box-sizing: border-box;

  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #C3C4C5;
  margin: 4px;
}

.color__radio_input {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}


.color__radio_input:checked~ .color__button-container {
  border: 1px solid #3F51B4;
}

/*
.color__button-container_active {
  border: 1px solid #3F51B4;
}
*/