.menu {
  z-index: 20;
  position: sticky;
  bottom: 0;
  background: #B1E37E;
/*  height: 128px*/
}

.menu-wrapper {
  display: flex;
  justify-content: center;
}

.menu-container {
  display: flex;
  flex-direction: rows;
  justify-content: sapce-between;
  align-items: center;
  gap: 80px;
  padding: 34px 0px;
  max-width: 1380px;
}

.menu-text {
  color: #000000;
  /* Desktop/H2_bold_24 */
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 125% */
}


.menu-button {
  color: #FFFFFF;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 120% */

  border-radius: 4px;
  opacity: 0.8;
  background: #2B1BE3;

  padding: 12px 116px;
  margin: 0px;
}

