.footer {
}

.contacts-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0px 16px;
}

.title {
  color: #000000;
  font-family: Noto Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  padding: 24px 16px 24px 16px;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #000000;
  font-family: Noto Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
}

.contacts-item {
}

.communication {
  display: flex;
  gap: 40px;
  padding: 24px 0px;;
}

.creators {
  background: #C3C4C5;
  padding: 13px 16px;
}
