.radio {
  display: inline-flex;
  gap: 16px;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.radio__input {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.radio__state {
  position: relative;

}

.radio__control {
  height: 16px;
  width: 16px;
  background: #FFF500;
/*  border: 1px solid var(--grey-2);*/
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.radio__icon {
  display: none;
  height: 8px;
  width: 8px;
  background: #222222;
  border-radius: 50%;

}

.radio__title {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;

  color: #000000;
}

.radio__input:checked ~ .radio__state .radio__control {
/*  border: 2px solid var(--button-default-primary);*/
}

.radio__input:checked ~ .radio__state .radio__icon {
  display: inline-block;
}

.radio__input:focus ~ .radio__title {
/*  text-decoration: underline;*/
}

.radio__input:disabled ~ .radio__state .radio__control {
  background:  var(--grey-2);
  border: 1px solid var(--grey-2);
}

.radio__input:disabled ~ .radio__title {
  color: var(--grey-2);
  text-decoration: none;
}

