/* Стилизация аккордеона */

/* Убираем стандартный маркер Chrome */
.accordion__details .accordion__summary::-webkit-details-marker {
  display: none
}
/* Убираем стандартный маркер Firefox */
.accordion__details > .accordion__summary {
  list-style: none;
}


.accordion {
  color: #000000;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.accordion__details {
  border-radius: 8px;
  background: #FDFDFD;
}

.accordion__details_content {
  padding: 11px 16px 16px 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.accordion__summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #F3F3F3; ;
  border-radius: 8px;
  padding: 16px;
  cursor: pointer;
}

.accordion__details_parameters {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 9px;
  padding: 0px 0px;
}

.accordion__details_marked-list {
  width: 8px;
  height: 8px;
  background: #F5DF4D;
  flex-shrink: 0;
  margin-top: 8px;
}


.accordion__details[open] .accordion__summary_arrow {
  transform: rotate(180deg);
}


